.field {
    display: inline-block;
    margin: 0 auto;
    width: 120px;
    height: 120px;
}

.cell {
    height: 40px;
    width: 40px;
    border: 1px solid green;
    display: inline-block;
}

.cell:hover {
    background-color: gainsboro;
}