.field {    
    display: inline-block;
    flex-wrap: wrap;
    margin: 0 auto;
}

.row {
    display: flex;
}

.cell {
    height: 40px;
    width: 40px;
    border: 1px solid green;
}

.cell:hover {
    background-color: gainsboro;
}