.game__wrap {
    display: inline-block;
    margin: 0 auto;
}

.game {
    display: flex;
    flex-direction: column;
}

.board {    
    display: inline-block;
}

.row {
    display: flex;
}

.cell {
    height: 40px;
    width: 40px;
    border: 1px solid green;
}

.cell:hover {
    background-color: gainsboro;
}