.history {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.history__game {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.history__move {  
    border-radius: 20px;
    padding: 20px;
}

.history__move_player {  
    background-color: #E6EE9C;
}

.history__move_bot {  
    background-color: #FFCDD2;
}